@model BlogApp.Models.BlogPost
@{
    ViewData["Title"] = "Create Blog Post";
}

<h1>Create Blog Post</h1>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Upload Image (.jpeg, .jpg, .png)</label>
        <input type="file" name="ImageFile" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
